body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headBar{
  background-color: #F2E8CF;
  font-size: 18px;
}

.headBar div > a{
  color: #386641;
}

.rightheader a{
  margin-right: 20px;
  font-weight: bold;
  color: #386641;
}

.main-footer{
  color: white;
  background-color: #dc3545;
  position: fixed;
  bottom: 0;
  width: 100%;
};
